.researcher
{
    width: 1024px;
    min-height: 1150px;
    margin: 0px auto; /*border: 1px #333333 solid;*/
    margin-top: 5px;
}
.box_showpic
{
    width: 100%;
    min-height: 600px; /*border:1px #000 solid; */
    margin-top: 5px;
}
.box_showpic_pic
{
    width: 100%;
    min-height: 150px; /* border:1px #000 solid; */
    margin-top: 5px;
}
.box_showpic_pic_title
{
    width: 100%;
    min-height: 20px;
    margin-top: 5px;
}
.box_showpic_pic_title li
{
    list-style: none;
}
.box_showpic_pic img
{
    height:156px;
    width: 128px;
    border: 4px #ffffff solid;
}
.box_showpic_pic li
{
    float: left;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    color: #ff6600;
    list-style: none;
}
h1
{
    font-family: 宋体;
    font-size: 14px;
    color: #ff6600;
    margin: 0px;
    padding-top: 3px;
    text-align: left;
    line-height: 14px;
}
h2
{
    font-family: 宋体;
    font-size: 12px;
    color: #666;
    margin: 0px;
    padding-top: 3px;
    text-align: left;
    line-height: 14px;
}
h3
{
    font-family: 宋体;
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 14px;
}
.box_showpic_pic A
{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
}
.box_showpic_pic A:hover
{
    color: #ff6600;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
}
